.img-container {
    display: flex !important;
    justify-content: center;
    align-content: center;
}

.ant-carousel .slick-dots li button {
    background: #776a6a;
    opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: #080708;
}