.gestion-pedidos-container {
  padding: 20px;
  background-color: #f3f3f3;
}

.status-select {
  width: 150px;
  margin-right: 10px;
}

.update-status-button {
  margin-right: 10px;
  background-color: #1890ff;
  color: #fff;
}

.details-button {
  background-color: #52c41a;
  color: #fff;
}

.ant-modal-body {
  padding: 20px;
}

.ant-modal-footer {
  border-top: none;
}

.gestion-pedidos-container {
  padding: 20px;
  text-align: center;
}

.pedidos-heading {
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
}
