.pedidos-container {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.delete-button {
    background-color: #dd3939;
}