.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .site-form-item-icon {
    color: rgba(0, 0, 0, 0.25);
  }
  
  .login-form-button {
    width: 100%;
  }
  