/* logo */
.logo {
    height: 50px; /* Default height */
    width: 150px; /* Default width */
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .logo {
        height: 30px; /* Smaller height for mobile */
        width: 100px; /* Smaller width for mobile */
    }
}

/* logo2 */
/* 50 50
40 40
*/
