.recomendaciones-container {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-content {
    background-color: black;
    color: white;
}

.recomendacion-img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}
.recomendacion-img {
    height: 250px;
}
@media (max-width: 600px) {
    .recomendacion-img {
        height: 120px; /* Smaller height for mobile */
    }
}
